body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background: #ffe4f2;
    text-align: center;
}

header {
    background: linear-gradient(135deg, #f87ec9, #ffb7e5);
    padding: 50px 20px;
    color: white;
    border-radius: 0 0 25px 25px;
}

header h1 {
    font-size: 40px;
    text-shadow: 2px 2px 4px #d90087;
}

.menu {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    margin: 10px;
    background: #ff3fa8;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.btn:hover {
    background: #ff1095;
}

.card {
    background: white;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #ff9ad6;
    box-shadow: 0 5px 20px rgba(255, 80, 160, 0.2);
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ff9ad6;
    border-radius: 10px;
}

textarea {
    height: 80px;
}
/* ----- FRAME FOTO BARBIE ----- */
.foto-wrapper {
    margin-top: 25px;
}

.frame {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 10px;
    background: linear-gradient(135deg, #ff7acb, #ffb4e5);
    border: 4px solid #ff3fa8;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(255, 60, 150, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
